<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Check new item</p>
    <p>
    Item details<br>
    --------------------------
    </p>
    <p>Name: <%= @item.name %></p>
    <p>Description: <%= @item.description %></p>
    <p>Price: <%= @item.price %></p>
    <p>
  </body>
</html>